{% extends "layout.html" %}
{% block title %}Grocery List App{% endblock %}
{% block page %}Grocery List App{% endblock %}

{{ super() }}

{% block content %}
<div class="container">
        <h4>Avaliable Recipes</h4>
        <div class="row">
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="card z-depth-4">
                    <div class="card-image">
                        <img src="https://spoonacular.com/recipeImages/641057-556x370.jpg" alt="image of Food">
                        <a href="#" class="halfway-fab btn-floating black"><i class="material-icons">favorite</i></a>
                    </div>
                    <div class="card-content">
                        <span class="card-title ">Curried Butternut Squash</span>
                    </div>
                    <div class="card-action">
                        <a href="#"  onclick="M.toast({html: 'Database Not Intitialized'})"class="pink-text text-pink darken-2">View Ingredients</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card z-depth-4">
                    <div class="card-image">
                        <img src="https://spoonacular.com/recipeImages/641461-556x370.jpg" alt="image of Food">
                        <a href="#" class="halfway-fab btn-floating black"><i class="material-icons">favorite</i></a>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Deviled Eggs With Crab</span>
                    </div>
                    <div class="card-action">
                        <a href="#" onclick="M.toast({html: 'Database Not Intitialized'})" class="pink-text text-pink darken-2">View Ingredients</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card z-depth-4">
                    <div class="card-image">
                       <img src="https://spoonacular.com/recipeImages/663588-556x370.jpg" alt="image of Food">  
                       <a href="#" class="halfway-fab btn-floating black"><i class="material-icons">favorite</i></a>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Tomato Cutlets</span>
                    </div>
                    <div class="card-action">
                        <a href="#" onclick="M.toast({html: 'Database Not Intitialized'})" class="pink-text text-pink darken-2">View Ingredients</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card z-depth-4">
                    <div class="card-image">
                        <img src="https://spoonacular.com/recipeImages/636325-556x370.jpg" alt="image of Food">
                        <a href="#" class="halfway-fab btn-floating black"><i class="material-icons">favorite</i></a>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Brownie Cheesecake</span>
                    </div>
                    <div class="card-action">
                        <a href="#"  onclick="M.toast({html: 'Database Not Intitialized'})"class="pink-text text-pink darken-2">View Ingredients</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card z-depth-4">
                    <div class="card-image">
                        <img src="https://spoonacular.com/recipeImages/640318-556x370.jpg" alt="image of Food">
                        <a href="#" class="halfway-fab btn-floating black"><i class="material-icons">favorite</i></a>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Crab Salad Stuffed Pita Pockets</span>
                    </div>
                    <div class="card-action">
                        <a href="#"  onclick="M.toast({html: 'Database Not Intitialized'})"class="pink-text text-pink darken-2">View Ingredients</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card z-depth-4">
                    <div class="card-image">
                       <img src="https://spoonacular.com/recipeImages/659927-556x370.jpg" alt="image of Food"> 
                       <a href="#" class="halfway-fab btn-floating black"><i class="material-icons">favorite</i></a>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Shrimp and Avocado Salad</span>
                    </div>
                    <div class="card-action">
                        <a href="#" onclick="M.toast({html: 'Database Not Intitialized'})" class="pink-text text-pink darken-2">View Ingredients</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card z-depth-4">
                    <div class="card-image">
                       <img src="https://spoonacular.com/recipeImages/653593-556x370.jpg" alt="image of Food"> 
                       <a href="#" class="halfway-fab btn-floating black"><i class="material-icons">favorite</i></a>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Mac and Cheese</span>
                    </div>
                    <div class="card-action">
                        <a href="#" onclick="M.toast({html: 'Database Not Intitialized'})" class="pink-text text-pink darken-2">View Ingredients</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card z-depth-4">
                    <div class="card-image">
                       <img src="https://spoonacular.com/recipeImages/803061-556x370.jpg" alt="image of Food"> 
                       <a href="#" class="halfway-fab btn-floating black"><i class="material-icons">favorite</i></a>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Asian Sweet Chili Meatballs</span>
                    </div>
                    <div class="card-action">
                        <a href="#"  onclick="M.toast({html: 'Database Not Intitialized'})"class="pink-text text-pink darken-2">View Ingredients</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card z-depth-4">
                    <div class="card-image">
                       <img src="https://spoonacular.com/recipeImages/632590-556x370.jpg" alt="image of Food"> 
                       <a href="#" class="halfway-fab btn-floating black"><i class="material-icons">favorite</i></a>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Apple Roasted Pork Loin</span>
                    </div>
                    <div class="card-action">
                        <a href="#"  onclick="M.toast({html: 'Database Not Intitialized'})"class="pink-text text-pink darken-2">View Ingredients</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card z-depth-4">
                    <div class="card-image">
                      <img src="https://spoonacular.com/recipeImages/638073-556x370.jpg" alt="image of Food">  
                       <a href="#" class="halfway-fab btn-floating pink pulse"><i class="material-icons">favorite</i></a>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Chicken Enchilada Chowder</span>
                    </div>
                    <div class="card-action">
                        <a href="#"  onclick="M.toast({html: 'Database Not Intitialized'})"class="pink-text text-pink darken-2">View Ingredients</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card z-depth-4">
                    <div class="card-image">
                       <img src="https://spoonacular.com/recipeImages/635856-556x370.jpg" alt="image of Food"> 
                       <a href="#" class="halfway-fab btn-floating black"><i class="material-icons">favorite</i></a>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Braised Pork: Filipino Humba</span>
                    </div>
                    <div class="card-action">
                        <a href="#"  onclick="M.toast({html: 'Database Not Intitialized'})"class="pink-text text-pink darken-2">View Ingredients</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card z-depth-4">
                    <div class="card-image">
                       <img src="https://spoonacular.com/recipeImages/632611-556x370.jpg" alt="image of Food">
                        <a href="#" class="halfway-fab btn-floating pink pulse"><i class="material-icons">favorite</i></a>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Apple Walnut Brownies</span>
                    </div>
                    <div class="card-action">
                        <a href="#"  onclick="M.toast({html: 'Database Not Intitialized'})"class="pink-text text-pink darken-2">View Ingredients</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card z-depth-4">
                    <div class="card-image">
                        <img src="https://spoonacular.com/recipeImages/634237-556x370.jpg" alt="image of Food">
                        <a href="#" class="halfway-fab btn-floating pink pulse"><i class="material-icons">favorite</i></a>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Bananas Foster Ice Cream</span>
                    </div>
                    <div class="card-action">
                        <a href="#"  onclick="M.toast({html: 'Database Not Intitialized'})"class="pink-text text-pink darken-2">View Ingredients</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card z-depth-4">
                    <div class="card-image">
                       <img src="https://spoonacular.com/recipeImages/639411-556x370.jpg" alt="image of Food"> 
                       <a href="#" class="halfway-fab btn-floating black"><i class="material-icons">favorite</i></a>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Cilantro Lime Halibut</span>
                    </div>
                    <div class="card-action">
                        <a href="#"  onclick="M.toast({html: 'Database Not Intitialized'})"class="pink-text text-pink darken-2">View Ingredients</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card z-depth-4">
                    <div class="card-image">
                       <img src="https://spoonacular.com/recipeImages/637569-556x370.jpg" alt="image of Food"> 
                       <a href="#" class="halfway-fab btn-floating black"><i class="material-icons">favorite</i></a>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Cheese Pork Chops</span>
                    </div>
                    <div class="card-action">
                        <a href="#" onclick="M.toast({html: 'Database Not Intitialized'})" class="pink-text text-pink darken-2">View Ingredients</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
  M.toast({html: 'Database Not Intitialized'})
    </script>
{% endblock %}
